@charset "utf-8";
/* CSS Document */
h2 {
   color: blue;
   font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, "serif";
   font-size: 16px;
   line-height: 18px;
   width: 600px;
   background-color: gray;
   padding: 20px;
}
h5 {
    color: blue;
    font-family:  Constantia, "Lucida Bright", "DejaVu Serif", Georgia, "serif";
    font-size: 16px;
    line-height: 18px;
    width: 600px;
    background-color: gray;
    padding: 20px;
}
body {
      background-image: image(multimedijski elementi/PpOdY.PNG)/>
      background-color: white;
}

a:link {
   color: black;
   background-color: white;
   padding: 5px;
   line-height: 40px;
   border: 1px solid #000000;
}

a:hover {
         background-color: darkgray;
}
